$raven: #0e1a40;
$gryffin: #740001;
$huffle: #ecb939;
$slyther: #1a472a;

@font-face {
    font-family: 'magic';
    src: url('MagicSchoolOne.ttf')
}

@font-face {
    font-family: 'dumbledore';
    src: url('dum1.ttf')
}

@font-face {
    font-family: 'potter';
    src: url('potter.ttf')
}

.GryffBG {
    height: 100vh;
    background-image: url('gryffindor.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover 
}

.gryffindor {
    height: 13vh;
    background-color: rgb(228, 231, 235);
    border: 1px solid black;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 65px;
    border-radius: 5px;
    font-family: 'dumbledore';
}

.navgryffin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6vh;
    width: 75vw;
    margin-right: 0px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #eeba30;
}

.studentbtngryffin {
    position: relative;
    background-color: #eeba30;
    height: 8vh;
    width: 15vw;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    font-family: 'dumbledore';
    font-size: 2.5em;
    margin-top: -45px;
    color: $gryffin
}

.housepointsgryffin {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeba30;
    border: 1px solid black;
    border-radius: 10px;
    color: $gryffin;
    height: 8vh;
    width: 15vw;
    font-family: 'dumbledore';
    font-size: 2.5em;
    margin-top: 10px;
}