@-webkit-keyframes profilelink {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
  
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
      }
    }
  
  @keyframes profilelink {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
  
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  
  @-webkit-keyframes profilelink-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  
  @keyframes profilelink-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  .profilelink:hover, .profilelink:focus, .profilelink:active {
    -webkit-animation-name: profilelink-float, profilelink;
    animation-name: profilelink-float, profilelink;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
  }


  @-webkit-keyframes myhouselink {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
  
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  
  @keyframes myhouselink {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
  
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  
  @-webkit-keyframes myhouselink-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  
  @keyframes myhouselink-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  .myhouselink:hover, .myhouselink:focus, .myhouselink:active {
    -webkit-animation-name: myhouselink-float, myhouselink;
    animation-name: myhouselink-float, myhouselink;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
  }


  @-webkit-keyframes houseslink {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
  
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  
  @keyframes houseslink {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
  
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  
  @-webkit-keyframes houseslink-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  
  @keyframes houseslink-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  .houseslink:hover, .houseslink:focus, .houseslink:active {
    -webkit-animation-name: houseslink-float, houseslink;
    animation-name: houseslink-float, houseslink;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
  }


@-webkit-keyframes signout {
    50% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
  
    100% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
  }
  
  @keyframes signout {
    50% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
  
    100% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
  }
  .signout:hover, .signout:focus, .signout:active {
    -webkit-animation-name: signout;
    animation-name: signout;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }


$raven: #0e1a40;
$gryffin: #740001;
$huffle: #ecb939;
$slyther: #1a472a;

body::-webkit-scrollbar {
    overflow: scroll;
    width: 0px;
    height: 0px;
    background: transparent;
}

@font-face {
    font-family: 'magic';
    src: url('MagicSchoolOne.ttf')
}

@font-face {
    font-family: 'dumbledore';
    src: url('dum1.ttf')
}

.welcomebody {
    height: 100vh;
    background-image: url('welcome_background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-y: auto;
}

.pageBG {
    padding-left: 10vw;
    padding-right: 10vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    size: 100%;
    height: 100vh;
}

.signoutholder {
    position: relative;
    z-index: 15;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 120px;
}

.homepic {
    height: 3em;
    width: 3em;
    object-fit: cover;
    border-radius: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
}

.signout {
    position: relative;
    z-index: 10;
    margin-right: 2em;
    margin-bottom: 40px;
    border: 1px solid $huffle;
    background-color: $gryffin;
    color: $huffle;
    border-radius: 25px;
    font-family: 'dumbledore';
    font-size: 1.7vh;
    vertical-align: middle;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
}



.welcome {
    position: relative;
    color: rgb(178, 184, 189);
    background-color:rgba(43, 37, 35, 0.5);
    height: 19vh;
    border: 1px solid black;
    margin-top: -73px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 65px;
    border-radius: 5px;
    font-family: 'dumbledore';
}

.navholder {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: -70px;
    margin-bottom: 45px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6vh;
    width: 75vw;
    margin-right: 0px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: $gryffin;
}

.houseslink {
    font-family: 'dumbledore';
    font-size: 2.5em;
    display: inline-block;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}

.myhouselink {
    font-family: 'dumbledore';
    font-size: 2.5em;
    display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
    // margin-left: 2em;
}

.profilelink {
    margin-right: 6vw;
    font-family: 'dumbledore';
    font-size: 2.5em;
    display: inline-block;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}

.joinbtn { 
    position: relative;
    z-index: 10;
    height: 6vh;
    width: 17vw;
    background-color: $huffle;
    font-family: 'dumbledore';
    font-size: 1.3em;
    color: $slyther;
    border: 1px solid black;
    border-radius: 10px;
}

.housetext {
    font-family: 'dumbledore';
    font-size: 5em;
}

.housebody {
    background-color: rgba(240, 248, 255, .5);
    border: 1px solid black;
    margin-top: -30px;
    border-radius: 5px;
    z-index: 5;
    margin-bottom: 20px;
}

.nohousebody {
    background-color: rgba(240, 248, 255, .5);
    border: 1px solid black;
    // margin-top: -30px;
    border-radius: 5px;
    z-index: 5;
    margin-bottom: 200px;
}

.bodybody {
    background-color: rgba(240, 248, 255, .5);
    border: 1px solid black;
    // margin-top: -30px;
    border-radius: 5px;
    z-index: 5;
    margin-bottom: 100px;
}


