$raven: #0e1a40;
$gryffin: #740001;
$huffle: #ecb939;
$slyther: #1a472a;

.RCBG {
    height: 100vh;
    background-image: url('ravenclaw.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover 
}

.studentravenBG {
    background-color: $raven;
    border: 1px solid black;
    margin-top: -75px;
}