@-webkit-keyframes ravensignout {
    50% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
  
    100% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
  }
  
  @keyframes ravensignout {
    50% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
  
    100% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
  }
  .ravensignout:hover, .ravensignout:focus, .ravensignout:active {
    -webkit-animation-name: ravensignout;
    animation-name: ravensignout;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }


$raven: #0e1a40;
$gryffin: #740001;
$huffle: #ecb939;
$slyther: #1a472a;

@font-face {
    font-family: 'magic';
    src: url('MagicSchoolOne.ttf')
}

@font-face {
    font-family: 'dumbledore';
    src: url('dum1.ttf')
}

@font-face {
    font-family: 'potter';
    src: url('potter.ttf')
}

.ravenBG {
    height: 100%;
    background-image: url('ravenclaw.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    // overflow-y: auto;
}

.ravensignout {
    position: relative;
    z-index: 10;
    margin-right: 2em;
    margin-bottom: 40px;
    border: 1px solid #5d5d5d;
    background-color: $raven;
    color: #969494;
    border-radius: 25px;
    font-family: 'dumbledore';
    font-size: 1.7vh;
}

.ravenclaw {
    height: 13vh;
    background-color: rgba(93, 75, 117, .5);
    color: rgb(178, 184, 189);
    border: 1px solid black;
    margin-top: -73px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 65px;
    border-radius: 5px;
    font-family: 'dumbledore';
}

.navraven {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6vh;
    width: 75vw;
    margin-right: 0px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #5d5d5d;
}

.studenthousepoints {
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 70px;
}

.studentbtnraven {
    position: relative;
    background-color: #5d5d5d;
    height: 8vh;
    width: 15vw;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    font-family: 'dumbledore';
    font-size: 2.5em;
    margin-top: -45px;
    color: $raven
}

.housepoints {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5d5d5d;
    border: 1px solid black;
    border-radius: 10px;
    color: $raven;
    height: 8.5vh;
    width: 15vw;
    font-family: 'dumbledore';
    font-size: 2.5em;
    margin-top: 10px;
}

.ravenbody {
    background-color: rgba(240, 248, 255, .5);
    border: 1px solid black;
    margin-top: -40px;
    border-radius: 5px;
    z-index: 5;
    margin-bottom: 20px;
}

.raventext {
    font-family: 'potter'
}

.raveneditsavebtn {
    height: 1.5em;
    width: 3em;
    font-size: 1em;
    font-family: 'dumbledore';
    background-color: #5d5d5d;
    color: $raven;
    border: 1px solid $raven;
}

.ravendeletebutton {
    height: 1.5em;
    width: 7em;
    font-size: 1em;
    font-family: 'dumbledore';
    background-color: #5d5d5d;
    color: $raven;
    border: 1px solid $raven;
}