.EBG {
    height: 100vh;
    background-image: url('homepage_background4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover 
}

.buttonholder {
    display: flex;
    justify-content: space-around;
}

.btns {
    height: 2.5em;
    width: 5.5em;
    background-color: aqua;
}