$raven: #0e1a40;
$gryffin: #740001;
$huffle: #ecb939;
$slyther: #1a472a;

@font-face {
    font-family: 'magic';
    src: url('MagicSchoolOne.ttf')
}

@font-face {
    font-family: 'dumbledore';
    src: url('dum1.ttf')
}

@font-face {
    font-family: 'potter';
    src: url('potter.ttf')
}

.GDBG {
    height: 100vh;
    background-image: url('gryffindor.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover 
}

.studenthousepointsgryffin {
    height: 6vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 100px;
}

.studentgryffinBG {
    background-color: $gryffin;
    border: 1px solid black;
    margin-top: -75px;
}

.student {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    overflow-wrap: wrap;
    font-family: 'dumbledore';
}

.studentimg {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #eeba30;
}

.studenttext {
    font-size: 30px;
    color: #eeba30;
}