$raven: #0e1a40;
$gryffin: #740001;
$huffle: #ecb939;
$slyther: #1a472a;

.myprofile {
    position: relative;
    color: rgb(178, 184, 189) ;
    background-color:rgba(43, 37, 35, 0.5);
    height: 13vh;
    border: 1px solid black;
    margin-top: -73px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 65px;
    border-radius: 5px;
    font-family: 'dumbledore';
}

.profilebody {
    background-color: #2C1F13;
    border: 1px solid black;
    // margin-top: -73px;
    border-radius: 5px;
    z-index: 5;
    margin-bottom: 20px;
}

.profilepic {
    height: 45vh;
    width: 30vw;
    border-radius: 50%;
    border: 2px solid #eeba30;
}

.profileeditsavebtn {
    height: 1.5em;
    width: 3em;
    font-size: 1em;
    font-family: 'dumbledore';
    background-color: #eeba30;
    color: #2C1F13;
    border: 1px solid #2C1F13;
}

.profiletext {
    font-size: 2em;
    font-family: 'dumbledore';
    color: #eeba30;
}

.inputs {
    height: 2em;
    width: 40%;
    font-size: 1em;
    font-family: 'dumbledore';
    background-color: #5d5d5d;
    color: #eeba30;
    border: 1px solid #eeba30;
}

.pointinput {
    height: 2em;
    width: 40%;
    font-size: 1em;
    font-family: 'dumbledore';
    margin-bottom: 5em;
    background-color: #5d5d5d;
    color: #eeba30;
    border: 1px solid #eeba30;
}

.profiledeletebutton {
    height: 1.5em;
    width: 7em;
    font-size: 1em;
    font-family: 'dumbledore';
    background-color: #eeba30;
    color: #2C1F13;
    border: 1px solid #2C1F13;
}