@-webkit-keyframes homelink {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
  
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
      }
    }
  
  @keyframes homelink {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
  
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  
  @-webkit-keyframes homelink-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  
  @keyframes homelink-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  .homelink:hover, .homelink:focus, .homelink:active {
    -webkit-animation-name: homelink-float, homelink;
    animation-name: homelink-float, homelink;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
  }

  .ravenclawbtn:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0e1a40;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .ravenclawbtn:hover, .ravenclawbtn:focus, .ravenclawbtn:active {
    color: #946b2d;
  }
  .ravenclawbtn:hover:before, .ravenclawbtn:focus:before, .ravenclawbtn:active:before {
    -webkit-transform: scale(2);
    transform: scale(2);
  }

  .gryffindorbtn:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #eeba30;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .gryffindorbtn:hover, .gryffindorbtn:focus, .gryffindorbtn:active {
    color: #740001;
  }
  .gryffindorbtn:hover:before, .gryffindorbtn:focus:before, .gryffindorbtn:active:before {
    -webkit-transform: scale(2);
    transform: scale(2);
  }

  .hufflepuffbtn:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #726255;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hufflepuffbtn:hover, .hufflepuffbtn:focus, .hufflepuffbtn:active {
    color: #ecb939;
  }
  .hufflepuffbtn:hover:before, .hufflepuffbtn:focus:before, .hufflepuffbtn:active:before {
    -webkit-transform: scale(2);
    transform: scale(2);
  }

  .slytherinbtn:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #1a472a;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .slytherinbtn:hover, .slytherinbtn:focus, .slytherinbtn:active {
    color: #5d5d5d;
  }
  .slytherinbtn:hover:before, .slytherinbtn:focus:before, .slytherinbtn:active:before {
    -webkit-transform: scale(2);
    transform: scale(2);
  }

$raven: #0e1a40;
$gryffin: #740001;
$huffle: #ecb939;
$slyther: #1a472a;

@font-face {
    font-family: 'magic';
    src: url('MagicSchoolOne.ttf')
}

@font-face {
    font-family: 'dumbledore';
    src: url('dum1.ttf')
}

@font-face {
    font-family: 'potter';
    src: url('potter.ttf')
}

.HousesBG {
    height: 100vh;
    background-image: url('houses.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover 
}

.homelink {
        // margin-right: 6vw;
        font-family: 'dumbledore';
        font-size: 2.5em;
        display: inline-block;
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
    margin-left: 6vw;
    font-family: 'dumbledore';
    font-size: 2.5em;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}

.school {
    height: 13vh;
    background-color:rgba(43, 37, 35, 0.5);
    color: rgb(178, 184, 189);
    border: 1px solid black;
    margin-top: -73px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 65px;
    border-radius: 5px;
    font-family: 'dumbledore';
}

.houseslist {
    display: flex;
    justify-content: center;
}

.ravenclawbtn {
    height: 5vh;
    width: 20.1vw;
    margin: -26px;
    margin-left: -28px;
    border: 1px solid black;
    font-size: 3vh;
    background-color: $raven;
    color: $raven;
    font-family: 'dumbledore';
    font-size: 2em;
    display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  background: #946b2d;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.gryffindorbtn {
    height: 5vh;
    width: 20.1vw;
    margin: -26px;
    margin-left: -25px;
    border: 1px solid black;
    font-size: 3vh;
    color: #eeba30;
    background-color: #eeba30;
    font-family: 'dumbledore';
    font-size: 2em;
    display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  background: $gryffin;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hufflepuffbtn {
    height: 5vh;
    width: 20.1vw;
    margin: -26px;
    border: 1px solid black;
    font-size: 3vh;
    color: #726255;
    background-color: #726255;
    font-family: 'dumbledore';
    font-size: 2em;
    display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  background: #ecb939;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.slytherinbtn {
    height: 5vh;
    width: 20.1vw;
    margin: -26px;
    margin-right: -28px;
    border: 1px solid black;
    font-size: 3vh;
    background-color: $slyther;
    color: $slyther;
    font-family: 'dumbledore';
    font-size: 2em;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
    background: #aaaaaa;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.descript {
    display: flex;
    justify-content: center;
    margin-top: -12px;
}

.ravendes {
    width: 19.9vw;
    // border: 1px solid black;
    background-color: #946b2d;
    padding-top: 15px;
    padding-left: 8px;
    padding-right: 10px;
    padding-bottom: 15px;
    font-family: 'dumbledore';
    font-size: 2.3vh;}

.gryffindes {
    width: 19.9vw;
    border: 1px solid black;
    background-color: #740001;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 7px;
    padding-bottom: 15px;
    font-family: 'dumbledore';
    font-size: 2.3vh;}

.huffledes {
    width: 19.9vw;
    // border: 1px solid black;
    background-color: $huffle;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 7px;
    padding-bottom: 15px;
    padding-bottom: 15px;
    font-family: 'dumbledore';
    font-size: 2.3vh;
}

.slytherdes {
    width: 19.9vw;
    border: 1px solid black;
    background-color: #aaaaaa;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 7px;
    padding-bottom: 15px;
    font-family: 'dumbledore';
    font-size: 2.3vh;
}