@-webkit-keyframes hufflesignout {
    50% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
  
    100% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
  }
  
  @keyframes hufflesignout {
    50% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
  
    100% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
  }
  .hufflesignout:hover, .hufflesignout:focus, .hufflesignout:active {
    -webkit-animation-name: hufflesignout;
    animation-name: hufflesignout;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }

  .studentbtnhuffle:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #726255;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .studentbtnhuffle:hover, .studentbtnhuffle:focus, .studentbtnhuffle:active {
    color: #ecb939;
  }
  .studentbtnhuffle:hover:before, .studentbtnhuffle:focus:before, .studentbtnhuffle:active:before {
    -webkit-transform: scale(2);
    transform: scale(2);
  }

  .huffleeditsavebtn:hover, .huffleeditsavebtn:focus, .huffleeditsavebtn:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .huffledeletebutton:hover, .huffledeletebutton:focus, .huffledeletebutton:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }


$raven: #0e1a40;
$gryffin: #740001;
$huffle: #ecb939;
$slyther: #1a472a;

@font-face {
    font-family: 'magic';
    src: url('MagicSchoolOne.ttf')
}

@font-face {
    font-family: 'dumbledore';
    src: url('dum1.ttf')
}

@font-face {
    font-family: 'potter';
    src: url('potter.ttf')
}

.HuffBG {
    height: 100%;
    background-image: url('hufflepuff.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    // overflow-y: auto;
}

.hufflesignout {
    position: relative;
    z-index: 10;
    margin-right: 2em;
    margin-bottom: 40px;
    border: 1px solid $huffle;
    background-color: #726255;
    color: $huffle;
    border-radius: 25px;
    font-family: 'dumbledore';
    font-size: 1.7vh;
}

.hufflepuff {
    height: 13vh;
    background-color: rgba(139, 101, 38, .5);
    border: 1px solid black;
    margin-top: -73px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 65px;
    border-radius: 5px;
    font-family: 'dumbledore';
}

.navhuffle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6vh;
    width: 75vw;
    margin-right: 0px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: $huffle;
}

.studentbtnhuffle {
    position: relative;
    background-color: $huffle;
    height: 8vh;
    width: 15vw;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    font-family: 'dumbledore';
    font-size: 2.5em;
    margin-top: -45px;
    color: #726255;
    vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
//   background: #e1e1e1;
//   -webkit-transition-property: color;
//   transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.housepointshuffle {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $huffle;
    border: 1px solid black;
    border-radius: 10px;
    color: #726255;
    height: 8.5vh;
    width: 15vw;
    font-family: 'dumbledore';
    font-size: 2.5em;
    margin-top: 10px;
}

.huffleeditsavebtn {
    height: 1.5em;
    width: 3em;
    font-size: 1em;
    font-family: 'dumbledore';
    background-color: #726255;
    color: $huffle;
    border: 1px solid $huffle;
    border-radius: 5px;
    display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.huffledeletebutton {
    height: 1.5em;
    width: 7em;
    font-size: 1em;
    font-family: 'dumbledore';
    background-color: #726255;
    color: $huffle;
    border: 1px solid $huffle;
    border-radius: 5px;
    display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}